@import url('https://fonts.cdnfonts.com/css/credit-card');

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.direction {
  font-size: 2rem;
  padding-top: 10px;
  text-align: center;
}

.wrapper {
  max-width: 810px;
  margin: auto;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-items: center;
  justify-content: center;
}

form {
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 260px;
  gap: 20px;
}

.field{
  font-size: 18px;
  background-color: whitesmoke;
  border-radius: 5px;
}
label{
  font-size: 20px;
  padding-bottom: 10px;
}

.card {
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1fr;
  width: 480px;
  height: 300px;
  background-color: red;
  border-radius: 20px;
  box-shadow: 2px 2px 6px gray;
}

button {
  cursor: pointer;
  width: fit-content;
  font-weight: 600;
  color: darkblue;
  padding: 5px 15px;
  box-shadow: 0 0 3px gray;
}
.card__bank__res {
  margin-top: 20px;
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  color: antiquewhite;
  align-items: top;
}
.card__num__res {
  font-family: 'Credit Card';
  text-shadow: 3px 3px 3px black;
  margin: auto;
  display: flex;
  gap: 20px;
  font-size: 1.8rem;
  color: rgb(227, 208, 160);
}
.card__valid__res {
  margin-left: 100px;
  margin-top: 10px;
  display: flex;
  gap: 10px
}
.card__valid__res__month, .card__valid__res__year {
  display: flex;
  color:rgb(46, 46, 48);
  text-shadow: 1px 1px 1px gray;
  font-size: 20px;
  margin-bottom: 15px;
}
.card__valid__res__header {
  padding-top: 2px;
}

.card__holder__res {
  position: relative;
  bottom: -15px;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px gray;
  letter-spacing: 2px;
  margin-left: 50px;
}
.table__res {
  margin: auto;
  margin-top: 20px;
  border-collapse:  collapse;
}
td {
  justify-content: center;
  text-align: center;
  padding-left: 20px;
}

th {
  font-size: 20px;
  padding: 10px 20px;
  border-collapse:  collapse;
  border: thin dotted gray;
}

td, tr {
  border: thin dotted gray;
  padding: 5px 10px;

}

.visa, .mir, .upay, .mcard, .logo {
  position: relative;
  left: 380px;
  width: 100px;
  min-height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.visa {
  background-image: url(images/visa.png);
}
.mir {
  background-image: url(images/mir.png);
}
.upay {
  background-image: url(images/upay.png);
}
.mcard {
  background-image: url(images/mastercard.png)
}